*{
    
}

.home-container{
    width: 100%;
    height: 1000px;
}

.header-container{
    position: fixed;
    width: 100%;
    height: 5%;
    margin-top: -5%;
}

.title-text{
    float: left;
    padding: 0 1% 0 0;
}
.contact-text{
    float: right;
    text-align: right;  
    padding: 0 1% 0 1%;
}


.scroll-container {
    margin: 5%;
    align-content: center;
    text-align: center; 
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(500px);
    scroll-snap-type: y mandatory;
}

.child{
    padding: 3%;
    scroll-snap-align: start;
}

.book-cover{
    box-shadow: 1px 1px 15px 1px grey ;
}

.text-container{
    margin: 1%;
    text-align: left;
    text-justify: distribute;
    width: 250px;
}

.footer{
    text-align: left;
    margin: 1%;
    padding-bottom: 10px;
    float: left;
}

.sidebar-nav{
    text-align: right;
    float: right;
}

.cover-and-info{
    margin-top: 5%;
    padding: 1%;
}
