
.home-container{
    width: 100%;
    height: 100%;
}

.header-container{
    position: fixed;
    width: 100%;
    height: 5%;
    margin-top: -5%;
}

.title-text{
    float: left;
    padding: 0 1% 0 0;
}
.contact-text{
    float: right;
    text-align: right;  
    padding: 0 1% 0 1%;
}


.scroll-container {
    align-items: center;
    width: 100%;
    height: 700px;
    margin-top: 5%;
    align-content: center;
    text-align: center; 
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: repeat(100px);
    scroll-snap-type: y proximity;
 
}

.scroll-container::-webkit-scrollbar{
    display: none;
}

.child{
    padding: 3%;
    scroll-snap-align: start end;
}

.book-cover{
    box-shadow: 1px 1px 15px 1px grey ;
    color: white;
}

.body-text-container{
    text-align: left;
    text-justify: distribute;
    width: 250px;
    padding-top: 35%;
}


.sidebar-nav{
    margin-top: -20%;
    text-align: right;
    float: right;
    padding: 5% 1% 0 5%;
}

.pink{
    background-color: #FFC0CB;
    color: white;
}

.lime-green{
    background-color: #8BE663;
    color: white;
}

.cyan{
    background-color: #60EFF3;
    color: white;
}

.yellow{
    background-color: #FFC84A;
    color: white;
}

.blue{
    background-color: #4836FF;
    color: white;
}